.detailed-post-container {
  margin-left: 80px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  width: 90%;
}

.detailed-post {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.post-left {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post-header {
  margin-left: 50px;
  margin-top: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.profile-image {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.profile-name {
  font-size: 14px; /* Adjust font size as needed */
  margin-left: 10px;
}

.post-content {
  margin-top: 50px;
  margin-left: 40px;
  display: flex;
  width: 100%;
}

.post-details {
  max-width: 600px;
  text-align: left;
  margin-bottom: 20px;
}

.post-details img.post-image {
  width: 50%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.post-right {
  width: 300px;
  margin-left: 50px;
  text-align: left;
  margin-top: 20px;
  align-self: flex-start;
}

.other-posts {
  width: 345px;
  margin-top: 20px;
  border-radius: 15px;
  margin-left: 50px;
}

.other-posts h2 {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: left; /* Changed from center to left */
  margin-left: 50px; /* Added left margin */
}

.post-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Reduced gap between posts */
}

.card {
  width: 90%;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content {
  padding: 12px;
}

.card-content.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.card-content.actions button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card-content.actions button:focus {
  outline: none;
}

.card-content.actions button:hover {
  color: #ff4081; /* Adjust color as needed */
}
